*{
    padding: 0;
    margin: 0;
}  

html{
    height: 100%; 
}
.multimedia:hover{
    transform: scale(1.3);
    transition-duration: 100ms;
}

body{
    background-color: rgb(32, 23, 23);
    .navBackground{
            background-color: rgb(15, 14, 14); 
            width: 100%;    
                    #logo1{
                    width: 100%;  
                    }
                    .botonBackground{
                        background-color: ivory;
                    }
                    ul{
                        list-style-type: none;
                        text-decoration: none;  
                            li{ 
                                    font-size: 100%;
                                    .tipografia{
                                        color: ivory !important;    
                                    }
                                    &:hover{
                                        transform: scale(1.3);
                                        transition-duration: 100ms;
                                    }    
                                    
                                
                            }
                    }  
    }
}
    

footer{ 
    background-color: rgb(15, 14, 14);
    ul{
        list-style-type: none;
        text-decoration: none;  
            .footerIcon{ 
                padding-top: 1%;
                padding-left: 2%;
                padding-right: 2%;
                padding-bottom: 1%;
                    i{
                        color: antiquewhite;
                &:hover{
                    transform: scale(1);
                } 
                    }   
            }
     }
}
