.bodySeccionesReferencias{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1.8fr 0.2fr 1.8fr 0.2fr;
    grid-column-gap: 8px;
    grid-row-gap: 16px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
        h2{
            text-align: center;
            font-size: 35px;
            font-style: italic;
            grid-column-start: 1;
            grid-column-end: 3;
        }
        .video1{
            grid-column-start: 1;
            grid-row-start: 2;
        }
        
        .video2{
            grid-column-start: 2;
            grid-row-start: 2;
        }
        
        .video3{
            grid-column-start: 1;
            grid-row-start: 4;
        }
        
        .video4{
            grid-column-start: 2;
            grid-row-start: 4;
        }
        
        h3{
            text-align: center;
            font-size: 15px;
            font-style: italic;
            color: rgb(255, 255, 255);
        }
        
        #videoTexto1{
            grid-column-start: 1;
            grid-row-start: 3;
        }
        
        #videoTexto2{
            grid-column-start: 2;
            grid-row-start: 3;
        }
        
        #videoTexto3{
            grid-column-start: 1;
            grid-row-start: 6;
        }
        
        #videoTexto3{
            grid-column-start: 2;
            grid-row-start: 6;
        }
        
}